a{
    color:white;
}


h1{
    background-color:rgba(26, 79, 192, 0.466);
    font-family:Brush Script MT, Brush Script Std, cursive;
}
/*
p{
    color:orange;
}
li {
background-color:rgb(25, 92, 238);
border: 1px solid #000;
}
td{
    border: 3px solid #000;
    background-color:orange;
}
table {
  border:5px solid darkred ;
  background-color:orange;
  */
  