a{
    color:dodgerblue;
    border-radius: 5px; 
    border: 2px solid white;
    background-color: lightblue;
    margin:  5px;
}


#produtos{
   
        width: 1000px;
        margin: 10px auto;
       
        
}

body{
    margin: 0;
}

/*
p{
    color:orange;
}
li {
background-color:rgb(25, 92, 238);
border: 1px solid #000;
}
td{
    border: 3px solid #000;
    background-color:orange;
}
table {
  border:5px solid darkred ;
  background-color:orange;
  */
  